
@font-face {
  font-family: "Quicksand";
  src: url(./fonts/Quicksand-Regular.otf)
}

.App {
  height: 100vh;
  text-align: center;
}

.App-header {
  display: block;
  margin: 1em;
  text-align: left;
  height: 20vh;
  padding: 5vh;
  color: rgb(240, 240, 240);
}

.App-title {
  font-family: "Quicksand", sans-serif;
  font-size: 5em;
  margin: 0;
}

.App-description {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7em;
  margin: 0 0.2em;
  }