
@font-face {
  font-family: "Quicksand";
  src: url(./fonts/Quicksand-Regular.otf)
}

.App {
  height: 100vh;
  text-align: center;
  background-color: rgb(100, 146, 214);
}

.App-header {
  text-align: left;
  height: 150px;
  padding: 45px;
  color: white;
}

.App-title {
  margin: 0 0 0.1em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 5em;
}

.App-description {
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  }


